# OS & System
.DS_Store
Thumbs.db
*.log

# Hugo 특정 (핵심)
/public/            # 빌드 결과물 (배포 시 생성)
/resources/_gen/    # 이미지 처리 및 자산 캐시
.hugo_cache/        # Hugo 캐시 데이터

# IDE & Editor
.vscode/
.idea/
*.swp

# (혹시 모를) 백업 및 임시 파일
*.bak
*.tmp